<!DOCTYPE html>
<html>
  <head>
    <title>Cripto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1> Teste Layout </h1>
    <%= yield %>
  <h1> Rodapé </h1>
  </body>
</html>
