<h1>Seja Bem-Vindo!</h1>

 <h3> O idioma usado nessa aplicação é: <%= locale(I18n.locale) %> </h3>
<p> <strong>Data:</strong> <%= data_br(Date.today) %> </p>

<%= render "menu" %>


<p>Você está em ambiente de <strong><%= ambiente_rails %></strong</p>

<p> 
    O meu nome é <%= @nome %>
</p>